@import "../colors";

.base-warning-message {
    border-radius: 8px;
    background-color: $color-livestorm-100;
    padding: 16px 24px 16px 16px;
    display: flex;
    align-items: center;
    > * {
        margin-left: 8px;
    }
    > svg {
        width: 24px;
        height: 24px;
        color: $color-livestorm-100;
        fill: $color-livestorm-600;
    }
    .base-warning-message-content {
        flex: 1;
    }
    > svg line, > svg path {
        stroke: white;
    }
    &.warning-success {
        background-color: $color-green-100;
        > svg {
            fill: $color-green-600;
        }
    }
    &.warning-warning {
        background-color: $color-orange-100;
        > svg {
            fill: $color-orange-600;
        }
    }
    &.warning-error {
        background-color: $color-red-100;
        > svg {
            fill: $color-red-600;
        }
    }
}
