@import "../colors";

.btn {
    min-width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 6px 15px;
    background-color: #f4f3f8;
    color: #333334;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.15s ease;

    &:hover {
        background-color: #efeff4;
    }
    &.btn-secondary {
        background-color: #e2ecfe;
        color: $color-livestorm-700;

        &:hover {
            background-color: #e2ecfe;
            color: #214dbe;
        }
    }
    &.btn-primary {
        background-color: $color-livestorm-700;
        color: #fff;
        &:hover {
            background-color: #214dbe;
        }
    }
    &.btn-red {
        background-color: #f8eded;
        color: #e54538;
        &:hover {
            background-color: #f4e3e2;
            color: #e54538;
        }
    }
    &.btn-green {
        background-color: #dff6d6;
        color: #57b158;
        &:hover {
            background-color: #c7f3b8;
        }
    }
    &.btn-small {
        height: auto;
        width: auto;
        border-radius: 4px;
    }
}
