@import "../variables";

.ls-form {
    display: grid;
    grid-gap: 24px;

    .ls-input {
        border-width: 1px;
        transition: background .15s ease,border-color .15s ease;
        border-color: var(--color-grey-400);
        background-color: #fff;
        color: #1c1c1e;
        width: 100%;
        border-radius: 8px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
        height: 40px;
        border-style: solid;
        &:hover {
            border-color: var(--color-grey-500);
        }
        &:focus {
            border-color: var(--color-livestorm-700);
        }
    }
    textarea.ls-input {
        padding: 12px;
    }
}
