@import "../colors";

.ls-user-avatar {
    width: 36px;
    height: 36px;
    background-size: 100%;
    border-radius: 4px;
    margin: 0px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-500;
    color: $color-white;
    line-height: 36px;
    font-weight: 600;
    font-size: 16px;
    color: $color-white;
    text-transform: uppercase;
}
