$color-white: #fff;

$color-livestorm-100: rgba(245, 249, 255, 1);
$color-livestorm-200: rgba(231, 240, 255, 1);
$color-livestorm-300: rgba(217, 232, 255, 1);
$color-livestorm-400: rgba(186, 212, 254, 1);
$color-livestorm-500: rgba(59, 110, 241, 1);
$color-livestorm-600: rgba(42, 94, 228, 1);
$color-livestorm-700: rgba(33, 77, 190, 1);
$color-livestorm-800: rgba(24, 58, 149, 1);
$color-livestorm-900: rgba(11, 34, 93, 1);

$color-orange-100: rgba(255, 248, 235, 1);
$color-orange-200: rgba(255, 237, 207, 1);
$color-orange-300: rgba(254, 227, 185, 1);
$color-orange-400: rgba(253, 210, 153, 1);
$color-orange-500: rgba(250, 179, 96, 1);
$color-orange-600: rgba(249, 165, 70, 1);
$color-orange-700: rgba(185, 95, 33, 1);
$color-orange-800: rgba(138, 54, 13, 1);
$color-orange-900: rgba(75, 4, 0, 1);

$color-red-100: rgba(251, 246, 246, 1);
$color-red-200: rgba(248, 237, 237, 1);
$color-red-300: rgba(244, 227, 226, 1);
$color-red-400: rgba(238, 202, 202, 1);
$color-red-500: rgba(236, 86, 77, 1);
$color-red-600: rgba(229, 69, 56, 1);
$color-red-700: rgba(154, 50, 40, 1);
$color-red-800: rgba(116, 41, 33, 1);
$color-red-900: rgba(69, 25, 20, 1);

$color-green-100: rgba(242, 251, 239, 1);
$color-green-200: rgba(223, 246, 214, 1);
$color-green-300: rgba(199, 243, 184, 1);
$color-green-400: rgba(157, 228, 144, 1);
$color-green-500: rgba(124, 213, 122, 1);
$color-green-600: rgba(87, 177, 88, 1);
$color-green-700: rgba(61, 134, 54, 1);
$color-green-800: rgba(38, 92, 25, 1);
$color-green-900: rgba(13, 40, 1, 1);

$color-grey-100: rgba(249, 249, 251, 1);
$color-grey-200: rgba(246, 246, 249, 1);
$color-grey-300: rgba(239, 239, 244, 1);
$color-grey-400: rgba(229, 229, 234, 1);
$color-grey-500: rgba(192, 192, 197, 1);
$color-grey-600: rgba(119, 118, 123, 1);
$color-grey-700: rgba(81, 80, 84, 1);
$color-grey-800: rgba(51, 51, 53, 1);
$color-grey-900: rgba(28, 28, 30, 1);
