.ls-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ls-space-between {
    display: flex;
    justify-content: space-between;
}
.ls-w-full {
    width: 100%;
}
.ls-w-half {
    width: 50%;
}
.ls-rounded {
    border-radius: 100%;
}
.ls-float-left {
    float: left !important;
}
.ls-float-right {
    float: right !important;
}
.ls-ml-auto, .ls-mx-auto {
    margin-left: auto !important;
}
.ls-mr-auto, .ls-mx-auto {
    margin-right: auto !important;
}
.ls-d-block {
    display: block !important;
}

.ls-mt-1, .ls-mx-1 {
    margin-top: 4px;
}
.ls-mt-2, .ls-mx-2 {
    margin-top: 8px;
}
.ls-mt-3, .ls-mx-3 {
    margin-top: 12px;
}
.ls-mt-4, .ls-mx-4 {
    margin-top: 16px;
}
.ls-mt-5, .ls-mx-5 {
    margin-top: 20px;
}
.ls-mt-6, .ls-mx-6 {
    margin-top: 24px;
}
.ls-mt-6, .ls-mx-6 {
    margin-top: 32px;
}
.ls-mt-7, .ls-mx-7 {
    margin-top: 40px;
}
.ls-mt-8, .ls-mx-8 {
    margin-top: 48px;
}

.ls-mb-1, .ls-my-1 {
    margin-bottom: 4px;
}
.ls-mb-2, .ls-my-2 {
    margin-bottom: 8px;
}
.ls-mb-3, .ls-my-3 {
    margin-bottom: 12px;
}
.ls-mb-4, .ls-my-4 {
    margin-bottom: 16px;
}
.ls-mb-5, .ls-my-5 {
    margin-bottom: 20px;
}
.ls-mb-6, .ls-my-6 {
    margin-bottom: 24px;
}
.ls-mb-6, .ls-my-6 {
    margin-bottom: 32px;
}
.ls-mb-7, .ls-my-7 {
    margin-bottom: 40px;
}
.ls-mb-8, .ls-my-8 {
    margin-bottom: 48px;
}

.ls-ml-1, .ls-mx-1 {
    margin-left: 4px;
}
.ls-ml-2, .ls-mx-2 {
    margin-left: 8px;
}
.ls-ml-3, .ls-mx-3 {
    margin-left: 12px;
}
.ls-ml-4, .ls-mx-4 {
    margin-left: 16px;
}
.ls-ml-5, .ls-mx-5 {
    margin-left: 20px;
}
.ls-ml-6, .ls-mx-6 {
    margin-left: 24px;
}
.ls-ml-6, .ls-mx-6 {
    margin-left: 32px;
}
.ls-ml-7, .ls-mx-7 {
    margin-left: 40px;
}
.ls-ml-8, .ls-mx-8 {
    margin-left: 48px;
}

.ls-mr-1, .ls-mx-1 {
    margin-right: 4px;
}
.ls-mr-2, .ls-mx-2 {
    margin-right: 8px;
}
.ls-mr-3, .ls-mx-3 {
    margin-right: 12px;
}
.ls-mr-4, .ls-mx-4 {
    margin-right: 16px;
}
.ls-mr-5, .ls-mx-5 {
    margin-right: 20px;
}
.ls-mr-6, .ls-mx-6 {
    margin-right: 24px;
}
.ls-mr-6, .ls-mx-6 {
    margin-right: 32px;
}
.ls-mr-7, .ls-mx-7 {
    margin-right: 40px;
}
.ls-mr-8, .ls-mx-8 {
    margin-right: 48px;
}

.ls-pt-1, .ls-py-1 {
    padding-top: 4px;
}
.ls-pt-2, .ls-py-2 {
    padding-top: 8px;
}
.ls-pt-3, .ls-py-3 {
    padding-top: 12px;
}
.ls-pt-4, .ls-py-4 {
    padding-top: 16px;
}
.ls-pt-5, .ls-py-5 {
    padding-top: 20px;
}
.ls-pt-6, .ls-py-6 {
    padding-top: 24px;
}
.ls-pt-6, .ls-py-6 {
    padding-top: 32px;
}
.ls-pt-7, .ls-py-7 {
    padding-top: 40px;
}
.ls-pt-8, .ls-py-8 {
    padding-top: 48px;
}

.ls-pb-1, .ls-py-1 {
    padding-bottom: 4px;
}
.ls-pb-2, .ls-py-2 {
    padding-bottom: 8px;
}
.ls-pb-3, .ls-py-3 {
    padding-bottom: 12px;
}
.ls-pb-4, .ls-py-4 {
    padding-bottom: 16px;
}
.ls-pb-5, .ls-py-5 {
    padding-bottom: 20px;
}
.ls-pb-6, .ls-py-6 {
    padding-bottom: 24px;
}
.ls-pb-6, .ls-py-6 {
    padding-bottom: 32px;
}
.ls-pb-7, .ls-py-7 {
    padding-bottom: 40px;
}
.ls-pb-8, .ls-py-8 {
    padding-bottom: 48px;
}

.ls-pl-1, .ls-px-1 {
    padding-left: 4px;
}
.ls-pl-2, .ls-px-2 {
    padding-left: 8px;
}
.ls-pl-3, .ls-px-3 {
    padding-left: 12px;
}
.ls-pl-4, .ls-px-4 {
    padding-left: 16px;
}
.ls-pl-5, .ls-px-5 {
    padding-left: 20px;
}
.ls-pl-6, .ls-px-6 {
    padding-left: 24px;
}
.ls-pl-6, .ls-px-6 {
    padding-left: 32px;
}
.ls-pl-7, .ls-px-7 {
    padding-left: 40px;
}
.ls-pl-8, .ls-px-8 {
    padding-left: 48px;
}

.ls-pr-1, .ls-px-1 {
    padding-right: 4px;
}
.ls-pr-2, .ls-px-2 {
    padding-right: 8px;
}
.ls-pr-3, .ls-px-3 {
    padding-right: 12px;
}
.ls-pr-4, .ls-px-4 {
    padding-right: 16px;
}
.ls-pr-5, .ls-px-5 {
    padding-right: 20px;
}
.ls-pr-6, .ls-px-6 {
    padding-right: 24px;
}
.ls-pr-6, .ls-px-6 {
    padding-right: 32px;
}
.ls-pr-7, .ls-px-7 {
    padding-right: 40px;
}
.ls-pr-8, .ls-px-8 {
    padding-right: 48px;
}