/* Global */
body {
  margin: 0px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

/* Buttons */
.btn {
  min-width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  padding: 6px 15px;
  background-color: #F4F3F8;
  color: #333334;
  cursor: pointer;
  font-size: 13px;
  transition: all .15s ease;
}
.btn:hover {
  background-color: #efeff4;
}

.btn-secondary {
  background-color: #E2ECFE;
  color: #2a5ee4;
}
.btn-secondary:hover {
  background-color: #E2ECFE;
  color: #214dbe;
}

.btn-primary {
  background-color: #2a5ee4;
  color: #fff;
}
.btn-primary:hover {
  background-color: #214dbe;
}

.btn-red {
  background-color: #f8eded;
  color: #e54538;
}
.btn-red:hover {
  background-color: #f4e3e2;
  color: #e54538;
}

.btn-green {
  background-color: #dff6d6;
  color: #57b158;
}
.btn-green:hover {
  background-color: #c7f3b8;
}

.btn-small {
  height: auto;
  width: auto;
  border-radius: 4px;
}

/* Layout */
.center {
  display: flex;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

/* Forms */
.form {
  display: grid;
  grid-gap: 24px;
}
.input {
  border-width: 1px;
  border-color: #e5e5ea;
  background-color: #fff;
  color: #1c1c1e;
  width: 100%;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  height: 40px;
  border-style: solid;
}
.input:focus {
  border-color: #2a5ee4;
}
textarea.input {
  padding: 12px;
}

/* BaseSwitch */
label.switch-container {
  border-radius: 9999px;
  position: relative;
  width: 36px;
  transition: background .15s, border .15s;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
}
label.switch-container * {
  cursor: pointer;
}
label.switch-container > input {
  z-index: 10;
  opacity: 0;
}
label.switch-container > input + div  {
  top: 1px;
  left: 1px;
  background: white;
  position: absolute;
  transform: translateX(0px);
  border-radius: 9999px;
  transition: .15s;
  width: 18px; 
  height: 18px;
  z-index: 9;
}
label.switch-container > input:checked + div {
  transform: translateX(16px);
}
label.switch-container > input + div + div {
  position: absolute;
  background-color: rgba(229, 229, 234, 1);
  border: 1px solid rgba(229, 229, 234, 1);
  z-index: -1;
  width: 100%;
  top: 0px;
  height: 100%;
}
label.switch-container > input:checked + div + div {
  background-color: rgba(87, 177, 88, 1);
  border: 1px solid rgba(87, 177, 88, 1);
}

label.switch-container.switch-blue > input:checked + div + div {
  background-color: rgba(42, 94, 228, 1);
  border: 1px solid rgba(42, 94, 228, 1);
}

/* BaseWarningMessage */
.base-warning-message {
  border-radius: 8px;
  background-color: rgba(245, 249, 255, 1);
  padding: 16px 24px 16px 16px;
  display: flex;
  align-items: center;
}
.base-warning-message > * {
  margin-left: 8px;
}
.base-warning-message-content {
  flex: 1;
}
.base-warning-message > svg {
  width: 24px;
  height: 24px;
  color: rgba(245, 249, 255, 1);
  fill: rgba(42, 94, 228, 1);
}
.base-warning-message > svg line, .base-warning-message > svg path {
  stroke: white;
}
.base-warning-message.warning-success {
  background-color: rgba(242, 251, 239, 1);
}
.base-warning-message.warning-success > svg {
  fill: rgba(87, 177, 88, 1);
}
.base-warning-message.warning-warning {
  background-color: rgba(255, 248, 235, 1);
}
.base-warning-message.warning-warning > svg {
  fill: rgba(249, 165, 70, 1);
}
.base-warning-message.warning-error {
  background-color: rgba(251, 246, 246, 1);
}
.base-warning-message.warning-error > svg {
  fill: rgba(229, 69, 56, 1);
}

/* Texts */
.label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: #1c1c1e;
}
.value {
  color: #515054;
  margin-bottom: 5px;
}